<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <a class="navbar-brand" style="color: aliceblue" href="#"><strong>Sistema de Chamados</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse"  id="menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color: aliceblue" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue" routerLink="clientes/cliente">Clientes</a>
        </li>
       
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: aliceblue" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Serviços
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" style="color: aliceblue" href="#">Chamados</a>
            <a class="dropdown-item" style="color: aliceblue" href="#">Chamados</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: aliceblue" href="#">Desenvolvedor</a>
          </div> aria-disabled="true"
        </li>-->
  
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue" routerLink="chamadonew">Chamados</a>
        </li>

       <!-- <li class="nav-item">
            <a class="nav-link disabled" style="color: aliceblue" routerLink="produtos" tabindex="-1" aria-disabled="true">Produtos</a>
          </li>-->

      </ul>
      <!--<form class="form-inline my-2 my-lg-0" [formGroup]="buscarForm" (ngSubmit)="buscar">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>-->
    </div>
  </nav>