<h4 style="text-align: left">
 Cadastrados de Usuários
</h4>
    <table class="table table-striped" *ngIf="usuarios && usuarios.length > 0">
         <thead>
             <tr>
                 <th>Nome</th>
                 <th>Usuário</th>
                 <th>Perfil</th>
                 <th>Telefone</th>
                 <th>E-mail</th>
                 <th>Alterar Usuário</th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let usuarios of usuarios, let index = index">
                <td>{{usuarios.nome}}</td>
                <td>{{usuarios.usuario}}</td>
                <td>{{usuarios.perfil}}</td>
                <td>{{usuarios.telefone}}</td>
                <td>{{usuarios.email}}</td>

                <td>
                    <button type="button" id ="buttons" class="btn btn-info" (click)="editarClick(usuarios)">Editar</button>
                    <button type="button" class="btn btn-danger"  (click)="deletarClick(usuarios.id, index)">Deletar</button>
                </td>
             </tr>
         </tbody>
     </table>
     <div style="text-align: center">
        <button  class="btn btn-primary" (click)="addUsuario()">Adicionar Usuário</button>
      </div>

